<!DOCTYPE html>
<html lang="en">
<!-- Background image -->
<div class="bg-image" style="
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
height: 50vh; "></div>
<!-- Background image -->
<head>
  <title>Python based map application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1><left>ENTER LOCATION OF YOUR CHOICE AND CLICK SUBMIT QUERY BUTTON</left></h2>
	<form id="myForm" method="POST">
		<input name="text">
		<input type="submit">
	</form>
<script>
function myFunction() {
  document.getElementById("myForm").reset();
}
</script>	
</div>
</body>
</html>